/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1.2em;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ==========================================================================
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
   ========================================================================== */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Lato', sans-serif;
}

html em,
.pure-g [class *= "pure-u"] em,
.pure-g-r [class *= "pure-u"] em {
    /* Set your content font stack here: */
    font-family: 'Volkhov', serif;
}

body {
    border-top: 0.64em solid #8F1A60;
    margin: 0 auto;
}

header {
    border-bottom: 2px dotted #eee;
    text-align: center;
    width: 100%;
}
header>h1 {
    font-weight: 300;
    margin: 0 auto;
    text-transform: uppercase;
}

.pure-g,
.pure-g-r {
    margin: 0 auto;
    max-width: 40em;
}
.pure-g > div,
.pure-g-r > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 0.5em;
}

.kl-header {
    border-bottom: 2px dotted #8F1A60;
    padding: 1.2em 0 20px;
    margin: 1.2em auto 0.8em;
    max-width: 40em;
}
    .kl-header svg {
        margin: 0 auto;
    }
        .kl-header svg g path { fill: #493728; }
        .kl-header svg g.kl-logo-apron path { fill: #8f1a60; }

.kl-rollover {
    border-radius: 50%;
    color: white;
    display: block;
    font-size: 1.2em;
    font-weight: 300;
    height: 280px;
    margin: 0 auto;
    padding: 2.2em 0;
    text-indent: -99999px;
    text-decoration: none;
    width: 280px;
}
    .kl-rollover:active,
    .kl-rollover:hover,
    .kl-rollover:focus {
        text-indent: 0;
    }
    .kl-rollover>ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }
    .kl-rollover .kl-notice {
        font-size: 0.6em;
        padding: 0 4em;
        text-align: center;
    }
.kl-images header { border: none; }
    .kl-images header>h1 {
        color: #493728;
    }
        .kl-images header>h1>span:first-child {
            display: block;
            text-transform: uppercase;
        }
        .kl-images header>h1>span:last-child {
            font-size: 0.8em;
            position: relative;
            top: -0.5em;
        }
    .kl-images>div:first-child .kl-rollover {
        background: url("/img/traditional.png") no-repeat center;
    }
        .kl-images>div:first-child .kl-rollover:active,
        .kl-images>div:first-child .kl-rollover:hover,
        .kl-images>div:first-child .kl-rollover:focus {
            background: #493728 0 0;
        }
    .kl-images>div:last-child .kl-rollover {
        background: url("/img/specialty.png") no-repeat center;
    }
        .kl-images>div:last-child .kl-rollover:active,
        .kl-images>div:last-child .kl-rollover:hover,
        .kl-images>div:last-child .kl-rollover:focus {
            background: #8f1a60 0 0;
        }

.kl-social div {
    text-align: center;
    width: 100%;
}

.kl-splash {
    color: #eee;
    padding-bottom: 1em;
}
    .kl-splash a:active,
    .kl-splash a:focus,
    .kl-splash a:hover,
    .kl-splash a:link,
    .kl-splash a:visited {
        color: #eee;
    }

.kl-pricing {
    background-color: #8f1a60;
    text-align: center;
}
    .kl-pricing .pure-u {
        width: 100%;
    }
.kl-important {
    font-weight: 900;
    text-transform: uppercase;
}
.kl-emphasis {
    font-family: 'Volkhov', serif;
    font-style: italic;
    text-transform: lowercase;
}
.kl-notice {
    font-family: 'Volkhov', serif;
    font-size: 0.8em;
    font-style: italic;
}
.kl-split {
    word-spacing: 1em;
}
    .kl-split>span {
        word-spacing: normal;
    }

.kl-quote {
    color: #8f1a60;
    text-align: center;
}
    .kl-quote blockquote {
        font-size: 2em;
        font-weight: 300;
        margin: 0.4em;
    }

.kl-contact {
    background-color: #493728;
}
    .kl-contact>div>p {
        text-align: center;
        width: 100%;
        word-spacing: 1em;
    }
        .kl-contact>div>p>span:first-child,
        .kl-contact>div>p>span:last-child {
            text-transform: uppercase;
            word-spacing: 0.2em;
        }
    .kl-contact>.pure-form .l-box {
        padding: 0.5em;
    }
    .kl-contact>.pure-form input {
        margin-bottom: 1.2em;
    }
        .kl-contact>.pure-form input:last-child {
            margin-bottom: 0;
        }
    .kl-contact>.pure-form textarea {
        min-height: 9.4em;
    }
.kl-contact-button {
    background-color: #8f1a60;
    color: #fff;
    float: right;
}

/**
 * Define colors for special features
 */
svg g.kl-logo-apron, svg g.kl-social-icon { fill: #8f1a60; }

footer {
    background: #8f1a60;
    clear: both;
    color: #cb90ab;
    font-size: 0.8em;
    line-height: 0.8em;
    padding: 0.1em;
    text-align: center;
}

@media only screen and (min-width: 480px) {
    .l-box {
        padding: 0.5em 3em;
    }
    .kl-header {
        padding: 1.2em 1.2em 20px 1.2em;
    }
    .kl-contact>.pure-form {
        padding: 0 3em;
    }
}

@media only screen and (min-width: 768px) {
    .kl-social a {
        position:relative;
        top: -34px;
    }
    .kl-quote {
        display: block;
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
